<div class="wrapper" ng-controller="assetController">
    <div class="sidebar" data-background-color="brown" data-active-color="danger">
        <div class="logo">
            <a href="#" class="simple-text">
                    Asset Manager
                </a>
        </div>
        <div class="logo logo-mini">
            <a href="#" class="simple-text">
                    A
                </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="active">
                    <a ui-sref="home">
                            <i class="ti-panel"></i>
                            <p>Dashboard</p>
                        </a>
                </li>
                <li>
                    <a ui-sref="addasset">
							<i class="ti-clipboard"></i>
							<p>Add Asset</p>
						</a>
                </li>
                <li>
                    <a ui-sref="allassets">
							<i class="ti-clipboard"></i>
							<p>View Assets</p>
						</a>
                </li>
                <li>
                    <a href="docs/documentation.html">
							<i class="ti-clipboard"></i>
							<p>License</p>
						</a>
                </li>
                <li>
                    <a href="docs/documentation.html">
							<i class="ti-clipboard"></i>
							<p>Asset Categories</p>
						</a>
                </li>
                <li>
                    <a href="docs/documentation.html">
							<i class="ti-clipboard"></i>
							<p>Track Assets</p>
						</a>
                </li>
                <li>
                    <a href="docs/documentation.html">
							<i class="ti-clipboard"></i>
							<p>Maintain Assets</p>
						</a>
                </li>
            </ul>

        </div>
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-minimize">
                    <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">
							<i class="ti-arrow-left"></i>
                        </button>
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    <a class="navbar-brand" href="#"> Asset Management System</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">

                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="content">
                            <h4 class="title">Simple Table with Hover</h4>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-primary">
                                        <tr>
                                            <th>Serial Number</th>
                                            <th>Asset Name</th>
                                            <th>Asset Type</th>
                                            <th>Manufacturer</th>
                                            <th>Asset Status</th>
                                            <th>Asset Price</th>
                                            <th>Delete Asset</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="asset in assets">
                                            <td>{{asset.asset_serial_number}}</td>
                                            <td>{{asset.asset_name}}</td>
                                            <td>{{asset.asset_type}}</td>
                                            <td>{{asset.asset_manufacturer}}</td>
                                            <td>{{asset.asset_status}}</td>
                                            <td>{{asset.asset_price}}</td>
                                            <td><button class="btn btn-danger" ng-click="deleteAsset(asset._id)">Remove</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                    Home
                                </a>
                        </li>
                        <li>
                            <a href="#">
                                    Company
                                </a>
                        </li>
                        <li>
                            <a href="#">
                                    Portfolio
                                </a>
                        </li>
                        <li>
                            <a href="#">
                                    Blog
                                </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                    <a href="#">Amaze Admin</a>
                </p>
            </div>
        </footer> -->

    </div>

</div>