<div class="wrapper" ng-controller="assetController">
    <div class="sidebar" data-background-color="brown" data-active-color="danger">
        <div class="logo">
            <a href="#" class="simple-text">
                    Asset Manager
                </a>
        </div>
        <div class="logo logo-mini">
            <a href="#" class="simple-text">
                    A
                </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="active">
                    <a ui-sref="home">
                            <i class="ti-panel"></i>
                            <p>Dashboard</p>
                        </a>
                </li>
                <li>
                    <a ui-sref="addasset">
							<i class="ti-clipboard"></i>
							<p>Add Asset</p>
						</a>
                </li>
                <li>
                    <a ui-sref="allassets">
							<i class="ti-clipboard"></i>
							<p>View Assets</p>
						</a>
                </li>
                <!-- <li>
                    <a href="docs/documentation.html">
							<i class="ti-clipboard"></i>
							<p>License</p>
						</a>
                </li> -->
                <!-- <li>
                    <a href="docs/documentation.html">
							<i class="ti-clipboard"></i>
							<p>Asset Categories</p>
						</a>
                </li> -->
                <li>
                    <a ui-sref="maintain">
							<i class="ti-clipboard"></i>
							<p>Track Assets</p>
						</a>
                </li>
                <li>
                    <a ui-sref="document">
							<i class="ti-clipboard"></i>
							<p>Maintain Assets</p>
						</a>
                </li>
            </ul>

        </div>
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-minimize">
                    <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">
							<i class="ti-arrow-left"></i>
                        </button>
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    <a class="navbar-brand" href="#"> Asset Management System</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">

                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="header text-center">
                    <h3 class="title">Documentation</h3>
                    <p class="category">A how-to guide and helpful guide about managing,tracking and maintaining assets.</p>
                </div>
                <div class="card f-16 f-300">
                    <div class="header">
                        <h3>INTRODUCTION </h3>
                    </div>
                    <div class="content">
                        <p> 
LEARN THE PURPOSE OF ASSET REGISTER.<br><br> Asset registers are typically used to help business owners keep track of all their fixed assets and the details surrounding them. It assists in tracking the correct value of the assets, which can be useful for tax purposes, as well as for managing and controlling the assets. A fixed asset register provides a single location to quickly learn about any asset owned by the business.<br><br>[1]
Fixed assets refer to long-term assets that are used in the production of the business' income and typically refers to things like land, machines, buildings, office equipment, copyrights, and vehicles. Quite simply, they can be seen as assets not intended for sale but rather for use in production, as opposed to something like inventory.<<br><br>[2]
For example, assume a business owns a small fleet of trucks. The fixed asset register would describe the trucks (indicate color, make, model), indicate their purchase date and price, their amount of depreciation accumulated, and their estimated salvage value.
The asset register is important for keeping track of whether or not assets are still in possession or are working, and is an important way of of keeping track of the value of your assets. It can be helpful not only for business management purposes, but should also be provided to your accountant as it is an easy way for him or her to to find information regarding the assets and their values </p>
 <br>                     
<p>
<span style="text-transform:uppercase">Identify fixed assets by looking at the balance sheet of the business</span>.<br><br> In order for a fixed asset register to be successful, it is required that the information be accurate, complete, and comprehensive. To do this, it is important to make sure all assets are included in the register.
Look at the balance sheet of the business. Create a list of all the fixed assets that are listed and recorded here, as this indicates the assets that are currently reflected in the company's books.
These assets will typically be located under the assets section of the balance sheet. Typically, fixed assets will including anything under "property, plant & equipment" and will include land, buildings, equipment, and vehicles.
Note that fixed assets can also include things like patents, copyrights or brand names. These are known as "intangible assets", and can be found under the "intangible assets" portion of the balance sheet. A good tip is, if you plan on owning it for more than a year, it should be considered a fixed asset.
Intangible assets with a finite life must be written off (amortized) over the course of their useful life. A copyright, for example, is an intangible asset that is only valuable for as long as the copyright lasts. Assets with indefinite lives (such as goodwill, trademarks, and perpetual franchises) are not amortized.</p>
                       
<br>
<p><span style="text-transform:uppercase">Create an account record for each fixed asset</span><br><br>As mentioned earlier, each asset will need its own "account", or area to store the information. If you opt for a loose leaf binder, each page would feature an asset, and then various pieces of information. If you opt for a spreadsheet, each row would feature an asset. Regardless of your format, the following information is necessary for each account:[4]
Description: The description should be able to distinguish the specific asset from other similar assets. For example, a company that owns multiple Ford trucks might describe them by color, model, and year of manufacture (Ford 2012 F-250 brown truck). Note whether the asset is New, Used, or Reconditioned. Include the location of the asset here as well.
Serial number: This is the identification assigned by the manufacturer. If your company has also assigned a company ID, note that in your record.
Date of purchase: Include the date the asset was purchased.
Purchase price: Include the price the item was acquired at
Insurance coverage: Include any details regarding the insurance policy for the asset, including broker name and company.
Warranty information: If applicable, including contact information for warranty provider.
Date asset placed in service:: List the first day of usage for the asset.
Estimated life of the asset: Here you would include how long you expect the item to last in years, or hours. This is also known as the depreciation period, which will be discussed in detail in the next part.
Salvage value: Include the salvage value — that is to say, the resale value of the asset at the end of its life. In many cases, this would not apply as the asset would be used until not capable of resale.
Depreciation method:Depreciation refers to the reduction in the asset's value over time, and this can occur according to several methods</p>
                        <br><br><p> STUDY MORE................. <a href="https://www.wikihow.com/Prepare-an-Asset-Register">Learn More About Assets</a>
                        </p>
                    </div>
                </div>


                <!-- <div class="card">
                    <div class="header">
                        <h3>GETTING STARTED</h3>
                    </div>

                    <div class="content">
                        <h1>Hello</h1>
                    </div>
                </div> -->
            </div>
        </div>

    </div>
</div>